pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
ipynb
jupyter
tensorflow
kaggle
fastapi
uvicorn
typing
python-multipart
requests
opencv-python
plotly
streamlit
st_pages
https://github.com/marinfraisse/identifying-contrails.git
